[submodule "start/YouCompleteMe"]
	path = start/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "start/vim-colors-solarized"]
	path = start/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "start/nerdtree"]
	path = start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "start/vim-airline"]
	path = start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "opt/vim-flake8"]
	path = opt/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule "start/vim-fugitive"]
	path = start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "start/ctrlp"]
	path = start/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "start/delimitMate"]
	path = start/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "start/ack.vim"]
	path = start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "start/syntastic"]
	path = start/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "start/nerdcommenter"]
	path = start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "start/ultisnips"]
	path = start/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "start/supertab"]
	path = start/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "start/vim-surround"]
	path = start/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "start/vim-repeat"]
	path = start/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "start/vim-autotag"]
	path = start/vim-autotag
	url = git://github.com/craigemery/vim-autotag.git
[submodule "opt/rust.vim"]
	path = opt/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
